{% extends "base-left.html" %}
{% load staticfiles %}

{% block title %}YunOA{% endblock %}

{% block content %}

    <section class="content-header">
        <h1 style="font-family: 楷体; font-size: 30px; margin-left: 15px">
            我的工作台 &nbsp;<button type="button" class="btn btn-success" onclick="window.open('{% url "direction" %}')" style="font-size: 18px">操作说明</button>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 办公平台</a></li>
            <li><a href="{% url 'personal' %}">我的工作台</a></li>
        </ol>
    </section>

    <section class="content">

{#        新我的工作台页面#}
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="box-shadow: 0 0 10px gray; background-image: linear-gradient(to bottom right, #3ce6e9, #15c1cc)">
                <p class="small-box-footer" style="font-weight: bolder; height: 35px; font-size: 20px; color: white">查看我的申请</p>
                <div class="inner" >
                    <a href="/personal/workorder_Icrt/?type=0"
                                                    class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体" onmouseover="this.style.color='lightblue'" onmouseout="this.style.color='white'">立项申请</p></a>
                    <a href="/personal/workorder_Icrt/?type=1"
                                                    class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体" onmouseover="this.style.color='lightblue'" onmouseout="this.style.color='white'">出差申请</p></a>
                </div>
                <div class="icon" style="margin-top: 40px">
                    <i class="fa fa-pencil"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="box-shadow: 0 0 10px gray; background-image: linear-gradient(to bottom right, #ffa850, #ee7b1e)">
                <p class="small-box-footer" style="font-weight: bolder; height: 35px; font-size: 20px; color: white">查看我的报销</p>
                <div class="inner">
                    <a href="/personal/workorder_ap_cost/?type=0"
                                                    class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体" onmouseover="this.style.color='lightblue'" onmouseout="this.style.color='white'">立项报销</p></a>
                    <a href="/personal/workorder_ap_cost/?type=1"
                                                    class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体" onmouseover="this.style.color='lightblue'" onmouseout="this.style.color='white'">出差报销</p></a>
                </div>
                <div class="icon" style="margin-top: 40px">
                    <i class="fa fa-pencil"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="box-shadow: 0 0 10px gray; background-image: linear-gradient(to bottom right, #7d71ff, #6d22ff)">
                <p class="small-box-footer" style="font-weight: bolder; height: 35px; font-size: 20px; color: white">审批申请</p>
                <div class="inner">
                    <a href="/personal/workorder_app/?type=0"
                                                    class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体" onmouseover="this.style.color='lightblue'" onmouseout="this.style.color='white'">立项申请：{{ work_order_lx }}</p></a>
                    <a href="/personal/workorder_app/?type=1"
                                                    class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体" onmouseover="this.style.color='lightblue'" onmouseout="this.style.color='white'">出差申请：{{ work_order_cc }}</p></a>
                </div>
                <div class="icon" style="margin-top: 40px">
                    <i class="fa fa-check"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="box-shadow: 0 0 10px gray; background-image: linear-gradient(to bottom right, #ff71a8, #ff3a72)">
                <p class="small-box-footer" style="font-weight: bolder; height: 35px; font-size: 20px; color: white">审批报销</p>
                <div class="inner">
                    <a href="/personal/workorder_ap_cost_app/?type=0"
                                                    class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体" onmouseover="this.style.color='lightblue'" onmouseout="this.style.color='white'">立项报销：{{ apply_lx }}</p></a>
                    <a href="/personal/workorder_ap_cost_app/?type=1"
                                                    class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体" onmouseover="this.style.color='lightblue'" onmouseout="this.style.color='white'">出差报销：{{ apply_cc }}</p></a>
                </div>
                <div class="icon" style="margin-top: 40px">
                    <i class="fa fa-check"></i>
                </div>
            </div>
        </div>

        <h1 style="font-family: 楷体; font-size: 30px; margin-left: 15px">其他</h1>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="box-shadow: 0 0 10px gray; background-image: linear-gradient(to bottom right, #ff8a74, #ff1f1a)">
                <p class="small-box-footer" style="font-weight: bolder; height: 35px; font-size: 20px; color: white">公告</p>
                <div class="inner">
                    <a href="#" data-toggle="control-sidebar" onclick="getBulletin()"
                                                    class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体" onmouseover="this.style.color='lightblue'" onmouseout="this.style.color='white'">公告数量：{{ bulletin_amount }}</p></a>
                    <a href="#" data-toggle="control-sidebar" onclick="getBulletin()"
                                                    class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体" onmouseover="this.style.color='lightblue'" onmouseout="this.style.color='white'">未读数量：{{ unread_bulletin_num }}</p></a>
                </div>
                <div class="icon" style="margin-top: 40px">
                    <i class="fa fa-envelope-o"></i>
                </div>
            </div>
        </div>

        {% if asset or gone_asset %}
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box" style="box-shadow: 0 0 10px gray; background-image: linear-gradient(to bottom right, #8187ff, #6b4cff)">
                    <p class="small-box-footer" style="font-weight: bolder; height: 35px; font-size: 20px; color: white">物资续期提醒</p>
                    <div class="inner">
                        <a href="#" class="small-box-footer" onclick="due_asset(0)"><p style="font-size:28px; color: white; font-family: 楷体" onmouseover="this.style.color='lightblue'" onmouseout="this.style.color='white'">{{ asset_num }}件即将到期</p></a>
                        <a href="#" class="small-box-footer" onclick="due_asset(1)"><p style="font-size:28px; color: white; font-family: 楷体" onmouseover="this.style.color='lightblue'" onmouseout="this.style.color='white'">{{ gone_asset_num }}件已过期</p></a>
                    </div>
                    <div class="icon" style="margin-top: 40px">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="box-shadow: 0 0 10px gray; background-image: linear-gradient(to bottom right, #2cec25, #26b320)">
                <p class="small-box-footer" style="font-weight: bolder; height: 35px; font-size: 20px; color: white">油耗表</p>
                <div class="inner">
                    <a href="/personal/oilWear/oil/order"
                                                    class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体" onmouseover="this.style.color='lightblue'" onmouseout="this.style.color='white'">油耗记录</p></a>
                    <a href="/personal/oilWear/oil/order/statistic"
                                                    class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体" onmouseover="this.style.color='lightblue'" onmouseout="this.style.color='white'">油耗统计</p></a>
                </div>
                <div class="icon" style="margin-top: 40px">
                    <i class="fa fa-car"></i>
                </div>
            </div>
        </div>



        <!--
    <div class="row">
        <div class="col-md-12">
            <div class="box">
               <div class="box-header with-border">
                  <h3 class="box-title">工单数据统计</h3>
                  <div class="box-tools pull-right">
                    <div class="btn-group">
                      <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" title="选择统计类型">
                        <i class="fa fa-list-alt"></i></button>
                      <ul class="dropdown-menu bg-aqua" role="menu">
                        <li><a href="{% url 'personal' %}?value=0">工单提交统计</a></li>
                        <li><a href="{% url 'personal' %}?value=1">工单执行统计</a></li>
                      </ul>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
               </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-8">
                    <div id="bar_container" style="height: 400px"></div>
                </div>
                <div class="col-md-4">
                    <div id="pie_container" style="height: 400px"></div>
                </div>
            </div>

        </div>
        </div>
        </div>
        </div>
        -->
    </section>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'plugins/echarts/echarts.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#index').addClass('active');
        });


        //echarts
        var bar_dom = document.getElementById("bar_container");
        var myBarChart = echarts.init(bar_dom);
        option = null;
        option = {
            title: {
                text: '月度工单统计',
                subtext: ''
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: [{% for data in month_work_order_count %}'{{ data.name }}',{% endfor %}]
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {show: true, readOnly: false},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {% for data in month_work_order_count %}
                    {
                        name: '{{ data.name }}',
                        type: 'bar',
                        data:{{ data.count }},
                        markPoint: {
                            data: [
                                {type: 'max', name: '最大值'},
                                {type: 'min', name: '最小值'}
                            ]
                        },
                    },
                {% endfor %}
            ]
        };

        if (option && typeof option === "object") {
            myBarChart.setOption(option, true);
        }


        {#//echarts bar#}
        {#var pie_dom = document.getElementById("pie_container");#}
        {#var myPieChart = echarts.init(pie_dom);#}
        {#option = null;#}
        {#option = {#}
        {#    title: {#}
        {#        text: '年度工单比例',#}
        {#        subtext: '',#}
        {#        x: 'center'#}
        {#    },#}
        {#    tooltip: {#}
        {#        trigger: 'item',#}
        {#        formatter: "{a} <br/>{b} : {c} ({d}%)"#}
        {#    },#}
        {##}
        {#    toolbox: {#}
        {#        show: true,#}
        {#        feature: {#}
        {#            saveAsImage: {show: true}#}
        {#        }#}
        {#    },#}
        {#    legend: {#}
        {#        orient: 'vertical',#}
        {#        left: 'left',#}
        {#        data: [{% for data in year_work_order_count %}'{{ data.name }}',{% endfor %}]#}
        {#    },#}
        {#    series: [#}
        {#        {#}
        {#            name: '工单申请比例',#}
        {#            type: 'pie',#}
        {#            radius: '55%',#}
        {#            center: ['50%', '60%'],#}
        {#            data: [#}
        {#                {% for data in year_work_order_count %}#}
        {#                    {value:{{ data.count }}, name: '{{ data.name }}'},#}
        {#                {% endfor %}#}
        {#            ],#}
        {#            itemStyle: {#}
        {#                emphasis: {#}
        {#                    shadowBlur: 10,#}
        {#                    shadowOffsetX: 0,#}
        {#                    shadowColor: 'rgba(0, 0, 0, 0.5)'#}
        {#                }#}
        {#            }#}
        {#        }#}
        {#    ]#}
        if (option && typeof option === "object") {
            myPieChart.setOption(option, true);
        }

        //图表窗体自适应
        $(window).resize(function () {
            myBarChart.resize();
            myPieChart.resize();
        });

        function due_asset(type) {
            var index = layer.open({
                type: 2,
                title: "本部门物资续期提醒",
                content: "{% url 'due_asset' %}" + '?type=' + type,
            });
            layer.full(index)
        }
    </script>
{% endblock %}