{% extends "base-left.html" %}
{% load staticfiles %}

{% block title %}YunOA{% endblock %}

{% block content %}

    <section class="content-header">
        <h1 style="font-family: 楷体; font-size: 30px; margin-left: 15px">
            我的工作台 &nbsp;<button type="button" class="btn btn-success" onclick="window.open('{% url "direction" %}')"
                                style="font-size: 18px">操作说明
        </button>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 办公平台</a></li>
            <li><a href="{% url 'personal' %}">我的工作台</a></li>
        </ol>
    </section>

    <section class="content">

        {#        新我的工作台页面#}
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box"
                 style="box-shadow: 0 0 10px gray; background-image: linear-gradient(to bottom right, #3ce6e9, #15c1cc)">
                <p class="small-box-footer" style="font-weight: bolder; height: 35px; font-size: 20px; color: white">
                    查看我的申请</p>
                <div class="inner">
                    <a href="/personal/workorder_Icrt/?type=0"
                       class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体"
                                                   onmouseover="this.style.color='#ff9d9d'"
                                                   onmouseout="this.style.color='white'">立项申请</p></a>
                    <a href="/personal/workorder_Icrt/?type=1"
                       class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体"
                                                   onmouseover="this.style.color='#ff9d9d'"
                                                   onmouseout="this.style.color='white'">出差申请</p></a>
                </div>
                <div class="icon" style="margin-top: 40px">
                    <i class="fa fa-pencil"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box"
                 style="box-shadow: 0 0 10px gray; background-image: linear-gradient(to bottom right, #ffbd47, #ee7b1e)">
                <p class="small-box-footer" style="font-weight: bolder; height: 35px; font-size: 20px; color: white">
                    查看我的报销</p>
                <div class="inner">
                    <a href="/personal/workorder_ap_cost/?type=0"
                       class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体"
                                                   onmouseover="this.style.color='lightblue'"
                                                   onmouseout="this.style.color='white'">立项报销</p></a>
                    <a href="/personal/workorder_ap_cost/?type=1"
                       class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体"
                                                   onmouseover="this.style.color='lightblue'"
                                                   onmouseout="this.style.color='white'">出差报销</p></a>
                </div>
                <div class="icon" style="margin-top: 40px">
                    <i class="fa fa-pencil"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box"
                 style="box-shadow: 0 0 10px gray; background-image: linear-gradient(to bottom right, #c29cff, #6d22ff)">
                <p class="small-box-footer" style="font-weight: bolder; height: 35px; font-size: 20px; color: white">
                    审批申请</p>
                <div class="inner">
                    <a href="/personal/workorder_app/?type=0"
                       class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体"
                                                   onmouseover="this.style.color='lightblue'"
                                                   onmouseout="this.style.color='white'">立项申请：{{ work_order_lx }}</p>
                    </a>
                    <a href="/personal/workorder_app/?type=1"
                       class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体"
                                                   onmouseover="this.style.color='lightblue'"
                                                   onmouseout="this.style.color='white'">出差申请：{{ work_order_cc }}</p>
                    </a>
                </div>
                <div class="icon" style="margin-top: 40px">
                    <i class="fa fa-check"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box"
                 style="box-shadow: 0 0 10px gray; background-image: linear-gradient(to bottom right, #ff71a8, #ff3a72)">
                <p class="small-box-footer" style="font-weight: bolder; height: 35px; font-size: 20px; color: white">
                    审批报销</p>
                <div class="inner">
                    <a href="/personal/workorder_ap_cost_app/?type=0"
                       class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体"
                                                   onmouseover="this.style.color='lightblue'"
                                                   onmouseout="this.style.color='white'">立项报销：{{ apply_lx }}</p></a>
                    <a href="/personal/workorder_ap_cost_app/?type=1"
                       class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体"
                                                   onmouseover="this.style.color='lightblue'"
                                                   onmouseout="this.style.color='white'">出差报销：{{ apply_cc }}</p></a>
                </div>
                <div class="icon" style="margin-top: 40px">
                    <i class="fa fa-check"></i>
                </div>
            </div>
        </div>

        <h1 style="font-family: 楷体; font-size: 30px; margin-left: 15px">其他</h1>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box"
                 style="box-shadow: 0 0 10px gray; background-image: linear-gradient(to bottom right, #ff8a74, #ff1f1a)">
                <p class="small-box-footer" style="font-weight: bolder; height: 35px; font-size: 20px; color: white">
                    公告</p>
                <div class="inner">
                    <a href="#" data-toggle="control-sidebar" onclick="getBulletin()"
                       class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体"
                                                   onmouseover="this.style.color='lightblue'"
                                                   onmouseout="this.style.color='white'">公告数量：{{ bulletin_amount }}</p>
                    </a>
                    <a href="#" data-toggle="control-sidebar" onclick="getBulletin()"
                       class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体"
                                                   onmouseover="this.style.color='lightblue'"
                                                   onmouseout="this.style.color='white'">
                        未读数量：{{ unread_bulletin_num }}</p></a>
                </div>
                <div class="icon" style="margin-top: 40px">
                    <i class="fa fa-envelope-o"></i>
                </div>
            </div>
        </div>

        {% if asset or gone_asset %}
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box"
                     style="box-shadow: 0 0 10px gray; background-image: linear-gradient(to bottom right, #8187ff, #6b4cff)">
                    <p class="small-box-footer"
                       style="font-weight: bolder; height: 35px; font-size: 20px; color: white">物资续期提醒</p>
                    <div class="inner">
                        <a href="#" class="small-box-footer" onclick="due_asset(0)"><p
                                style="font-size:28px; color: white; font-family: 楷体"
                                onmouseover="this.style.color='lightblue'"
                                onmouseout="this.style.color='white'">{{ asset_num }}件即将到期</p></a>
                        <a href="#" class="small-box-footer" onclick="due_asset(1)"><p
                                style="font-size:28px; color: white; font-family: 楷体"
                                onmouseover="this.style.color='lightblue'"
                                onmouseout="this.style.color='white'">{{ gone_asset_num }}件已过期</p></a>
                    </div>
                    <div class="icon" style="margin-top: 40px">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box"
                 style="box-shadow: 0 0 10px gray; background-image: linear-gradient(to bottom right, #86b1f9, #246fb3)">
                <p class="small-box-footer" style="font-weight: bolder; height: 35px; font-size: 20px; color: white">
                    油耗表</p>
                <div class="inner">
                    <a href="/personal/oilWear/oil/order"
                       class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体"
                                                   onmouseover="this.style.color='lightblue'"
                                                   onmouseout="this.style.color='white'">油耗记录</p></a>
                    <a href="/personal/oilWear/oil/order/statistic"
                       class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体"
                                                   onmouseover="this.style.color='lightblue'"
                                                   onmouseout="this.style.color='white'">油耗统计</p></a>
                </div>
                <div class="icon" style="margin-top: 40px">
                    <i class="fa fa-car"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box"
                 style="box-shadow: 0 0 10px gray; background-image: linear-gradient(to bottom right, #73ee03, #06b600)">
                <p class="small-box-footer" style="font-weight: bolder; height: 35px; font-size: 20px; color: white">
                    物资相关</p>
                <div class="inner">
                    <a href="/personal/asset/use/info"
                       class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体"
                                                   onmouseover="this.style.color='#d8a7ff'"
                                                   onmouseout="this.style.color='white'">物资领用</p></a>
                    <a href="/personal/approve"
                       class="small-box-footer"><p style="font-size:28px; color: white; font-family: 楷体"
                                                   onmouseover="this.style.color='#d8a7ff'"
                                                   onmouseout="this.style.color='white'">
                        物资审批: {{ asset_approve_num }}</p></a>
                </div>
                <div class="icon" style="margin-top: 40px">
                    <i class="fa fa-briefcase"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box"
                 style="box-shadow: 0 0 10px gray; background-image: linear-gradient(to bottom right, #d4d4d4, #7f7f7f)">
                <p class="small-box-footer" style="font-weight: bolder; height: 35px; font-size: 20px; color: white">
                    意见或建议</p>
                <div class="inner">
                    <a href="#" onclick="feedback()" class="small-box-footer"><p
                            style="font-size:28px; color: white; font-family: 楷体"
                            onmouseover="this.style.color='#060507'" onmouseout="this.style.color='white'">提交反馈</p></a>
                    <p style="font-size:28px; color: rgba(217, 107, 116, 0.0); font-family: 楷体">提交反馈</p>
                </div>
                <div class="icon" style="margin-top: 40px">
                    <i class="fa fa-comments"></i>
                </div>
            </div>
        </div>
    </section>
    <div style="padding-left: 30px;">
        <div id="per"  style="display: none;">
                <h1  style="font-family: 楷体; font-size: 30px; margin-left: 0">报表</h1>
                <div id="content">
                    <form class="form-inline" id="queryForm">
                        <div class="form-group searchArea margin-r-5 margin-top-5">
                            <label>开始日期：</label>
                            <input class="form-control timepick" name="start_time" id="start_time" type="text"
                                   autocomplete="off"/>
                        </div>
                        <div class="form-group searchArea margin-r-5 margin-top-5">
                            <label>结束日期：</label>
                            <input class="form-control timepick" name="end_time" id="end_time" type="text"
                                   autocomplete="off"/>
                        </div>
                        <button type="button" id="btnWorkorderSearch" class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>查询
                        </button>
                    </form>
                    <div style="margin-top: 15px">
                        <button type="button" id="lastMonth" class="btn btn-primary" style="margin-left: 10px">
                            上月
                        </button>
                        <button type="button" id="lastThree" class="btn btn-primary" style="margin-left: 10px">
                            前三月
                        </button>
                    </div>
                    <div style="margin-top: 15px"><p style="padding-left: 20px"> (PS:如果下方没有出现饼图，请检查自己的工单是否有费用类型）</p></div>
                    <div id="main1" class="chart"></div>
                </div>
        </div>
        <div>
            <div id="allf" style="display: none">
                <h1  style="font-family: 楷体; font-size: 30px; margin-left: 0">全公司报表</h1>
                <div style="margin-top: 15px">
                        <button type="button" id="production" class="btn btn-primary" style="margin-left: 10px">
                            生产中心
                        </button>
                        <button type="button" id="BigData" class="btn btn-primary" style="margin-left: 10px">
                            大数据事业部
                        </button>
                        <button type="button" id="personal" class="btn btn-primary" style="margin-left: 10px">
                            人事行政中心
                        </button>
                        <button type="button" id="saleCenter" class="btn btn-primary" style="margin-left: 10px">
                            营销中心
                        </button>
                        <button type="button" id="ops" class="btn btn-primary" style="margin-left: 10px">
                            运维服务中心
                        </button>
                        <button type="button" id="SAC" class="btn btn-primary" style="margin-left: 10px">
                            证券事务中心
                        </button>
                    <br>
                        <button type="button" id="finance" class="btn btn-primary" style="margin-left: 10px;margin-top: 10px">
                            财务部
                        </button>
                        <button type="button" id="afterSale" class="btn btn-primary" style="margin-left: 10px;margin-top: 10px">
                            售后服务中心
                        </button>
                        <button type="button" id="materials" class="btn btn-primary" style="margin-left: 10px;margin-top: 10px">
                            物资管理中心
                        </button>
                        <button type="button" id="communication" class="btn btn-primary" style="margin-left: 10px;margin-top: 10px">
                            通信工程项目部
                        </button>
                        <button type="button" id="electric" class="btn btn-primary" style="margin-left: 10px;margin-top: 10px">
                            电力工程项目部
                        </button>

                    </div>
                <div id="allform" class="chart" >
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/echarts/echarts.min.js' %}"></script>
    <script>
    {# 个人报表#}
        (function () {
            x ={{ status|safe }}
            if (x == 0) {
                document.getElementById("per").style.display="none";
                layer.alert({{ errors_info }}, {icon: 1});
            } else if (x == 1) {
                document.getElementById("per").style.display="none";
                layer.alert({{ errors_info }}, {icon: 1});
            } else {
                document.getElementById("per").style.display="";
                var myChart1 = echarts.init(document.getElementById('main1'));
                var option1 = {
                    title: {
                        text: '总花销',
                        subtext: ' ',
                        x: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data: {{ feetype|safe }},
                    },
                    series: [
                        {
                            name: '费用类型',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: {{ perdata|safe }},
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                myChart1.setOption(option1);
            }
        })()
    </script>

    <script>
    {#  董事长/总经理报表  #}
        (function () {
            id = '{{ post|safe }}'
            x = '董事长'
            y = '总经理'
            if (id == x || id == y) {
                document.getElementById("allf").style.display ="";
                var myChart1 = echarts.init(document.getElementById('allform'));
                var option1 = {
                    title: {
                        text: '公司总花销',
                        subtext: ' ',
                        x: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data: {{ totalfeetype|safe }}
                    },
                    series: [
                        {
                            name: '费用类型',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: {{ totaldata|safe }},
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                myChart1.setOption(option1);
            } else {
                console.log('1')
            }

        })()

    </script>

    <script>
        $(".timepick").datetimepicker({
            format: 'yyyy-mm-dd',
            language: 'zh',
            autoclose: 1,
            forceParse: 0,
            minView: 2,
        });

        {#个人报表中的按钮功能#}
        $('#lastMonth').click(function () {
            var lastMonth = 1;
            retdata = {
                lastMonth: lastMonth
            }
            $.ajax({
                url: "{% url 'personal' %}",
                type: "post",
                data: retdata,
                dataType: "json",
                success: function (d) {
                    if (d.status == 'fail0') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail1') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail2') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else {
                        var myChart3 = echarts.init(document.getElementById('main1'));
                        var option3 = {
                            title: {
                                text: '上月',
                                subtext: ' ',
                                x: 'center'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                data: d.lmfeetype
                            },
                            series: [
                                {
                                    name: '费用类型',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],
                                    data: d.lmdata,
                                    itemStyle: {
                                        emphasis: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };
                        myChart3.setOption(option3, true);
                    }
                }
            })
        })

        $('#lastThree').click(function () {
            var lastThree = 1;
            retdata = {
                lastThree: lastThree
            }
            $.ajax({
                url: "{% url 'personal' %}",
                type: "post",
                data: retdata,
                dataType: "json",
                success: function (d) {
                    if (d.status == 'fail0') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail1') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else {
                        var myChart3 = echarts.init(document.getElementById('main1'));
                        var option3 = {
                            title: {
                                text: '前三月',
                                subtext: ' ',
                                x: 'center'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                data: d.ltfeetype
                            },
                            series: [
                                {
                                    name: '费用类型',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],
                                    data: d.ltdata,
                                    itemStyle: {
                                        emphasis: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };
                        myChart3.setOption(option3, true);
                    }
                }
            })
        })

        $("#btnWorkorderSearch").click(function () {
            if ($("#start_time").val() == '' && $("#end_time").val() == '') {
                alert('起始时间或结束时间不能为空')
            } else if ($("#start_time").val() > $("#end_time").val()) {
                alert('起始时间不能晚于结束时间')
            } else {
                var start_time = $("#start_time").val();
                var end_time = $("#end_time").val();
                retdata = {
                    start_time: start_time,
                    end_time: end_time
                }
                $.ajax({
                    url: "{% url 'personal' %}",
                    type: "post",
                    data: {
                        "start_time": start_time,
                        "end_time": end_time
                    },
                    dataType: "json",
                    success: function (d) {
                        if (d.status == 'fail') {
                            layer.alert(d.errors_info, {icon: 1})
                        } else if (d.status == 'fail0') {
                            layer.alert(d.errors_info, {icon: 1})
                        } else {
                            var myChart3 = echarts.init(document.getElementById('main1'));
                            var option3 = {
                                title: {
                                    text: '花销',
                                    subtext: ' ',
                                    x: 'center'
                                },
                                tooltip: {
                                    trigger: 'item',
                                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                                },
                                legend: {
                                    orient: 'vertical',
                                    left: 'left',
                                    data: d.parafeetype
                                },
                                series: [
                                    {
                                        name: '费用类型',
                                        type: 'pie',
                                        radius: '55%',
                                        center: ['50%', '60%'],
                                        data: d.paradata,
                                        itemStyle: {
                                            emphasis: {
                                                shadowBlur: 10,
                                                shadowOffsetX: 0,
                                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                                            }
                                        }
                                    }
                                ]
                            };
                            myChart3.setOption(option3, true);
                        }
                    }
                })
            }
        });
    </script>

    <script>
    {# 董事长报表按钮 #}
        {# 生产中心按钮   #}
        $('#production').click(function () {
            var production = 17;
            retdata = {
                production: production
            }
            $.ajax({
                url: "{% url 'personal' %}",
                type: "post",
                data: retdata,
                dataType: "json",
                success: function (d) {
                    if (d.status == 'fail0') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail1') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail2') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else {
                        var myChart3 = echarts.init(document.getElementById('allform'));
                        var option3 = {
                            title: {
                                text: '生产中心',
                                subtext: ' ',
                                x: 'center'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                data: d.prfeetype
                            },
                            series: [
                                {
                                    name: '费用类型',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],
                                    data: d.prdata,
                                    itemStyle: {
                                        emphasis: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };
                        myChart3.setOption(option3, true);
                    }
                }
            })
        })

        {#  大数据事业部  #}
        $('#BigData').click(function () {
            var BigData = 18;
            retdata = {
                BigData: BigData
            }
            $.ajax({
                url: "{% url 'personal' %}",
                type: "post",
                data: retdata,
                dataType: "json",
                success: function (d) {
                    if (d.status == 'fail0') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail1') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail2') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else {
                        var myChart3 = echarts.init(document.getElementById('allform'));
                        var option3 = {
                            title: {
                                text: '大数据',
                                subtext: ' ',
                                x: 'center'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                data: d.bgfeetype
                            },
                            series: [
                                {
                                    name: '费用类型',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],
                                    data: d.bgdata,
                                    itemStyle: {
                                        emphasis: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };
                        myChart3.setOption(option3, true);
                    }
                }
            })
        })

        {#营销中心按钮#}
        $('#saleCenter').click(function () {
            var saleCenter = 20;
            retdata = {
                saleCenter: saleCenter
            }
            $.ajax({
                url: "{% url 'personal' %}",
                type: "post",
                data: retdata,
                dataType: "json",
                success: function (d) {
                    if (d.status == 'fail0') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail1') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail2') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else {
                        var myChart3 = echarts.init(document.getElementById('allform'));
                        var option3 = {
                            title: {
                                text: '营销中心',
                                subtext: ' ',
                                x: 'center'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                data: d.scfeetype
                            },
                            series: [
                                {
                                    name: '费用类型',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],
                                    data: d.scdata,
                                    itemStyle: {
                                        emphasis: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };
                        myChart3.setOption(option3, true);
                    }
                }
            })
        })

        {# 人事行政中心 #}
        $('#personal').click(function () {
            var personal = 19;
            retdata = {
                personal: personal
            }
            $.ajax({
                url: "{% url 'personal' %}",
                type: "post",
                data: retdata,
                dataType: "json",
                success: function (d) {
                    if (d.status == 'fail0') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail1') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail2') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else {
                        var myChart3 = echarts.init(document.getElementById('allform'));
                        var option3 = {
                            title: {
                                text: '人事行政中心',
                                subtext: ' ',
                                x: 'center'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                data: d.pefeetype
                            },
                            series: [
                                {
                                    name: '费用类型',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],
                                    data: d.pedata,
                                    itemStyle: {
                                        emphasis: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };
                        myChart3.setOption(option3, true);
                    }
                }
            })
        })

        {#  运维中心  #}
        $('#ops').click(function () {
            var ops = 21;
            retdata = {
                ops: ops
            }
            $.ajax({
                url: "{% url 'personal' %}",
                type: "post",
                data: retdata,
                dataType: "json",
                success: function (d) {
                    if (d.status == 'fail0') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail1') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail2') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else {
                        var myChart3 = echarts.init(document.getElementById('allform'));
                        var option3 = {
                            title: {
                                text: '运维中心',
                                subtext: ' ',
                                x: 'center'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                data: d.opfeetype
                            },
                            series: [
                                {
                                    name: '费用类型',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],
                                    data: d.opdata,
                                    itemStyle: {
                                        emphasis: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };
                        myChart3.setOption(option3, true);
                    }
                }
            })
        })

        {#  证券事务中心  Securities affairs centre#}
        $('#SAC').click(function () {
            var SAC = 22;
            retdata = {
                SAC: SAC
            }
            $.ajax({
                url: "{% url 'personal' %}",
                type: "post",
                data: retdata,
                dataType: "json",
                success: function (d) {
                    if (d.status == 'fail0') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail1') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail2') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else {
                        var myChart3 = echarts.init(document.getElementById('allform'));
                        var option3 = {
                            title: {
                                text: '证券事务中心',
                                subtext: ' ',
                                x: 'center'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                data: d.safeetype
                            },
                            series: [
                                {
                                    name: '费用类型',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],
                                    data: d.sadata,
                                    itemStyle: {
                                        emphasis: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };
                        myChart3.setOption(option3, true);
                    }
                }
            })
        })

        {#  财务部  #}
        $('#finance').click(function () {
            var finance = 23;
            retdata = {
                finance: finance
            }
            $.ajax({
                url: "{% url 'personal' %}",
                type: "post",
                data: retdata,
                dataType: "json",
                success: function (d) {
                    if (d.status == 'fail0') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail1') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail2') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else {
                        var myChart3 = echarts.init(document.getElementById('allform'));
                        var option3 = {
                            title: {
                                text: '证券事务中心',
                                subtext: ' ',
                                x: 'center'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                data: d.fifeetype
                            },
                            series: [
                                {
                                    name: '费用类型',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],
                                    data: d.fidata,
                                    itemStyle: {
                                        emphasis: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };
                        myChart3.setOption(option3, true);
                    }
                }
            })
        })

        {# 售后服务中心afterSale #}
        $('#afterSale').click(function () {
            var afterSale = 24;
            retdata = {
                afterSale: afterSale
            }
            $.ajax({
                url: "{% url 'personal' %}",
                type: "post",
                data: retdata,
                dataType: "json",
                success: function (d) {
                    if (d.status == 'fail0') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail1') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail2') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else {
                        var myChart3 = echarts.init(document.getElementById('allform'));
                        var option3 = {
                            title: {
                                text: '售后服务中心',
                                subtext: ' ',
                                x: 'center'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                data: d.affeetype
                            },
                            series: [
                                {
                                    name: '费用类型',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],
                                    data: d.afdata,
                                    itemStyle: {
                                        emphasis: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };
                        myChart3.setOption(option3, true);
                    }
                }
            })
        })

        {#  物资管理   materials management#}
        $('#materials').click(function () {
            var materials = 25;
            retdata = {
                materials: materials
            }
            $.ajax({
                url: "{% url 'personal' %}",
                type: "post",
                data: retdata,
                dataType: "json",
                success: function (d) {
                    if (d.status == 'fail0') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail1') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail2') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else {
                        var myChart3 = echarts.init(document.getElementById('allform'));
                        var option3 = {
                            title: {
                                text: '售后服务中心',
                                subtext: ' ',
                                x: 'center'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                data: d.mmfeetype
                            },
                            series: [
                                {
                                    name: '费用类型',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],
                                    data: d.mmdata,
                                    itemStyle: {
                                        emphasis: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };
                        myChart3.setOption(option3, true);
                    }
                }
            })
        })

        {# 通信工程communication #}
        $('#communication').click(function () {
            var communication = 28;
            retdata = {
                communication: communication
            }
            $.ajax({
                url: "{% url 'personal' %}",
                type: "post",
                data: retdata,
                dataType: "json",
                success: function (d) {
                    if (d.status == 'fail0') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail1') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail2') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else {
                        var myChart3 = echarts.init(document.getElementById('allform'));
                        var option3 = {
                            title: {
                                text: '通信工程',
                                subtext: ' ',
                                x: 'center'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                data: d.affeetype
                            },
                            series: [
                                {
                                    name: '费用类型',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],
                                    data: d.afdata,
                                    itemStyle: {
                                        emphasis: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };
                        myChart3.setOption(option3, true);
                    }
                }
            })
        })

        {#  电力工程  electric power project #}
        $('#electric').click(function () {
            var electric = 29;
            retdata = {
                electric: electric
            }
            $.ajax({
                url: "{% url 'personal' %}",
                type: "post",
                data: retdata,
                dataType: "json",
                success: function (d) {
                    if (d.status == 'fail0') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail1') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else if (d.status == 'fail2') {
                        layer.alert(d.errors_info, {icon: 1})
                    } else {
                        var myChart3 = echarts.init(document.getElementById('allform'));
                        var option3 = {
                            title: {
                                text: '通信工程',
                                subtext: ' ',
                                x: 'center'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                data: d.eppfeetype
                            },
                            series: [
                                {
                                    name: '费用类型',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],
                                    data: d.eppdata,
                                    itemStyle: {
                                        emphasis: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };
                        myChart3.setOption(option3, true);
                    }
                }
            })
        })
    </script>

    <script type="text/javascript">
        {#//图表窗体自适应#}
        {#$(window).resize(function () {#}
        {#    myChart3.resize();#}
        {##}
        {#})#}
        {##}


        function due_asset(type) {
            var index = layer.open({
                type: 2,
                title: "本部门物资续期提醒",
                content: "{% url 'due_asset' %}" + '?type=' + type,
            });
            layer.full(index)
        }

        function feedback() {
            layer.open({
                type: 2,
                title: "意见或建议反馈",
                content: "{% url 'feedback' %}",
                area: ["60%", "250px"]
            })
        }
    </script>
{% endblock %}