{% extends "base-left.html" %}
{% load staticfiles %}

{% block css %}

    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">

    <!-- iCheck for checkboxes and radio inputs -->
{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->

    <section class="content-header margin-bottom">
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i>办公平台</a></li>
            <li class="active"><a href="{% url 'personal' %}">我的工作台</a></li>
            <li class="active"><a href="#">物资审批</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div id="devlist">
            <div class="box box-primary" id="liebiao">
                <div class="box-body">
                    <table id="dtbList" class="display" cellspacing="0" width="100%" style="overflow-x: auto;width: 100%">
                        <thead style="width: 100%">
                        <tr valign="middle">
                            <th>ID</th>
                            <th>仓库</th>
                            <th>资产名称</th>
                            <th>数量</th>
                            <th>申请人</th>
                            <th>发起时间</th>
                            <th>预计归还时间</th>
                            <th>用途</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody style="width: 100px">
                        </tbody>
                    </table>
                    <br> <br>
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->

{% endblock %}

{% block javascripts %}
   
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.const.js' %}"></script>
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <!-- iCheck 1.0.1 -->
    <script type="text/javascript">
        $(function () {
            $('#ASSET-WTF-VIEW').addClass('active');
            $('#ASSET-APPROVE-VIEW').addClass('active');
        });
    </script>

    <script type="text/javascript">
        var oDataTable = null;
        var data = [
            {% for approve in approve_list %}
                {
                    'id': {{ approve.id }},
                    'warehouse': '{{ approve.asset_order.asset.warehouse.name }}',
                    'name': '{{ approve.asset_order.asset.name }}',
                    'quantity': '{{ approve.asset_order.quantity }}',
                    'proposer': '{{ approve.asset_order.proposer.name }}',
                    'return_date': '{{ approve.asset_order.return_date }}',
                    'create_time': '{{ approve.create_time }}',
                    'purpose': '{{ approve.asset_order.purpose }}'
                },
            {% endfor %}
        ];

        $(function () {
            oDataTable = initTable();
            function initTable() {
                return $('#dtbList').DataTable(
                    $.extend(true, {"scrollX": true},
                    DATATABLES_CONSTANT.DATA_TABLES.DEFAULT_OPTION,
                    {
                        data: data,
                        columns: [
                            {
                                data: "id"
                            },
                            {
                                data: "warehouse"
                            },
                            {
                                data: "name"
                            },
                            {
                                data: "quantity"
                            },
                            {
                                data: "proposer"
                            },
                            {
                                data: "create_time"
                            },
                            {
                                data: "return_date",
                                render: function (data) {
                                    var ret;
                                    if (data != "None") {
                                        ret = data
                                    } else {
                                        ret = "未设置"
                                    }
                                    return ret
                                }
                            },
                            {
                                data: "purpose"
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    var ret1 = "<button title='同意' onclick='pass(" + data + "," + "1" + ")'><i class=\"fa fa-check\"></i></button>";
                                    var ret2 = "<button title='不同意' onclick='pass(" + data + "," + "0" +  ")'><i class=\"fa fa-close\"></i></button>";
                                    return ret1 + ret2;
                                }
                            },
                        ],
                    }));
            }
        });

        function pass(id, ps) {
            layer.open({
                type: 2,
                content: "{% url 'personal-approve-result' %}?id=" + id + "&ps=" + ps,
                area: ['400px', '300px'],
                title: "审批意见",
                end: function () {
                    window.location.reload()
                }
            });
        }
    </script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });
    </script>
{% endblock %}