{% extends 'base-layer.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block main %}
    <div class="box box-danger">
        <form class="form-horizontal" id="addForm" method="post">
            {% csrf_token %}
            <div class="box-body">
                <fieldset>
                    <legend>
                    </legend>
                    <div class="form-group has-feedback">
                        <input class="form-control" name="id0" id="id0" type="hidden" value="{{ asset.id }}"/>
                        <label class="col-sm-2 control-label">资产编号(选填)</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="number" id="number" type="text"
                                   value="{{ asset.number }}"/>
                        </div>

                        <label class="col-sm-2 control-label">资产名称</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="name" id="name" type="text" value="{{ asset.name }}"/>
                            <input type="checkbox" name="no_return" id="no_return"
                                   {% if asset.is_no_return %}checked{% endif %}>无需归还
                            <input type="checkbox" name="no_approve" id="no_approve"
                                   {% if asset.is_no_approve %}checked{% endif %}>无需审批
                            <input type="checkbox" name="vice_approve" id="vice_approve"
                                   {% if asset.is_vice_approve %}checked{% endif %}>分管副总审批
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">所属部门</label>
                        <div class="col-sm-3">
                            <select class="form-control select2" style="width:100%;" name="department" id="department"
                                    onchange="a_ajax()">
                                <option></option>
                                {% for department in department_list %}
                                    <option value="{{ department.id }}">{{ department.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">所属仓库</label>
                        <div class="col-sm-3">
                            <select class="form-control select2" style="width:100%;" name="warehouse" id="warehouse"
                                    disabled>
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">数量</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="quantity" id="quantity" type="number" min="0" step="1"
                                   value="{{ asset.quantity }}"/>
                        </div>
                        <label class="col-sm-2 control-label">单位</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="unit" id="unit" type="text" value="{{ asset.unit }}"/>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">型号</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="type" id="type" type="text" value="{{ asset.type }}"/>
                        </div>
                        <label class="col-sm-2 control-label">到期时间(选填)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control pull-right form_datetime" name="due_time"
                                   id="due_time"
                                   value="{% if asset.due_time %}{{ asset.due_time }}{% else %}{% endif %}"
                                   autocomplete="off"/>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">备注信息(选填)</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="remark" id="remark"
                                      rows="5">{{ asset.remark }}</textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="box-footer ">
                <div class="row span7 text-center ">
                    <button type="button" id="btnCancel" class="btn btn-default margin-right ">重置</button>
                    <button type="button" id="btnSave" class="btn btn-info margin-right ">保存</button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript">

        $("#btnSave").click(function () {
            if ($("#name").val() == "") {
                alert("请输入资产名称")
            } else if ($("#department").val() == "") {
                alert("请选择所属部门")
            } else if ($("#warehouse").val() == "") {
                alert("请选择所属仓库")
            } else if ($("#quantity").val() == "") {
                alert("请输入数量")
            } else if ($("#unit").val() == "") {
                alert("请输入单位")
            } else if ($("#type").val() == "") {
                alert("请输入型号")
            } else if ($("#no_approve").is(":checked") && $("#vice_approve").is(":checked")) {
                alert("无需审批与分管副总审批冲突")
            } else {
                var data = $("#addForm").serialize();
                $.ajax({
                    type: $("#addForm").attr('method'),
                    url: "{% url 'adm-n-create' %}",
                    data: data,
                    cache: false,
                    success: function (msg) {
                        if (msg.status == 'success') {
                            layer.alert('数据保存成功！', {icon: 1}, function (index) {
                                parent.layer.closeAll(); //关闭所有弹窗
                            });
                        } else if (msg.status == 'fail') {
                            layer.alert(msg.asset_form_errors, {icon: 5});
                        }
                    }
                });
            }
        });


        /*点取消刷新新页面*/
        $("#btnCancel").click(function () {
            window.location.reload();

        });


        /*input 时间输入选择*/
        $(".form_datetime").datetimepicker({
            language: 'zh',
            minView: 'month', //选择范围知道日期，不选择时分
            autoclose: 1,
            todayHighlight: 1,
            //startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd'
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });

        function a_ajax() {
            department_id = $("#department").val();
            if (department_id) {
                var data = {
                    "department_id": department_id
                };
                $.ajax({
                    type: "get",
                    url: "{% url 'adm-ajax' %}",
                    data: data,
                    success: function (ret) {
                        $("#warehouse").removeAttr("disabled");
                        $("#warehouse").html(ret.warehouse_list);
                    }
                })
            } else {
                $("#warehouse").html("<option></option>");
                $("#warehouse").attr("disabled", true);
            }
        }

        // select2
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });
    </script>

{% endblock %}
