{% extends 'base-layer.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{%static 'plugins/select2/select2.min.css' %}">
<!-- iCheck for checkboxes and radio inputs -->
{% endblock %}
{% block main %}
<div class="box box-danger">
	<form class="form-horizontal" id="addForm" method="post">
		{% csrf_token %}
		<div class="box-body">
          <fieldset>
            <legend>
              <h4>部门信息</h4>
            </legend>
            <div class="form-group has-feedback" style="overflow-x: hidden">
                <input type="text" id="assetDepartment_id" name="assetDepartment_id" value="{{ assetDepartment.id }}" hidden>

                <label class="col-sm-2 control-label">部门名称</label>
                <div class="col-sm-3">
                    <input class="form-control" name="department" id="department" type="text" value="{{ assetDepartment.name }}" maxlength="20"/>
                </div>
                <br><br><br>
                <label class="col-sm-2 control-label">管理员</label>
                  <div class="col-sm-3">
                    <select class="form-control select2" name="operator" id="operator">
                        <option value="{{ assetDepartment.administrator.id }}">{{ assetDepartment.administrator.name }}</option>
                        {% for user in users %}
                        <option value={{ user.id }} > {{ user.name }} </option>
                        {% endfor %}
                  </select>
                </div>

                <div class="col-sm-3">
                    <input name="admin" id="admin" type="checkbox" style="zoom: 150%"/>
                    <label style="font-size: 17px; font-weight: bolder">所有部门管理权限</label>
                </div>
            </div>
          </fieldset>
        </div>

		<div class="box-footer ">
			<div class="row span7 text-center ">
              <button type="button" id="btnCancel" class="btn btn-default margin-right " >重置</button>
              <button type="button" id="btnSave" class="btn btn-info margin-right " >保存</button>
			</div>
		    </div>
    	</form>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
<script type="text/javascript">

	$("#btnSave").click(function(){
        if($("#department").val()=="")
        {
            alert("请填写部门名称")
        } else{
           var data = {"department": $("#department").val(),
                        "operator": $("#operator").val(),
                        "admin": $('#admin').is(':checked'),
                        "id": $('#assetDepartment_id').val()
           };
           console.log(data);
           $.ajax({
               type: $("#addForm").attr('method'),
               url : "{% url 'adm-department-create' %}",
               data : data,
               cache: false,
               success : function(msg) {
                   if (msg.result){
                       layer.alert('保存成功！', {icon: 1},function(index){
                           parent.layer.closeAll(); //关闭所有弹窗
                       });
                   }else{
                       layer.alert('保存失败', {icon: 5});
                       //$('errorMessage').html(msg.message)
                   }
               }
           });
        }
	});


	/*点取消刷新新页面*/
    $("#btnCancel").click(function () {
	    window.location.reload();
    });

  $(function () {
    //Initialize Select2 Elements
    $(".select2").select2();
  });

</script>
{% endblock %}
