<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="YunOA" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\web\YunOA\venv\Scripts\python.exe|D:\web\YunOA\wfastcgi.py" resourceType="Unspecified" />
            <add name="DjangoYunERP" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\pyPro\DjangoProject\venv\Scripts\python.exe|D:\pyPro\DjangoProject\ERP\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
