<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <style>
        table, th, td, tr {
            border: black 1px solid;
            font-size: 20px;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <input type="text" value="{{ dep_goal_id }}" id="dep_goal_id" hidden>
    {% if is_null %}
        <h1>部门当前无个人目标，无法评分</h1>
    {% else %}
        <h1>个人目标评分</h1>
        {% for user in users %}
            <div class="col-lg-12">
                <input class="principal_id" type="text" value="{{ user.id }}" hidden>
                <span style="font-size: 22px; font-weight: bolder">{{ user.name }}</span>
                <p style="margin-top: 10px; font-size: 20px">目标考核分数(满分70): <input type="number" max="70" class="target" value="{% for score in scores %}{% if score.principal_id == user.id %}{{ score.goal_score }}{% endif %}{% endfor %}"> 能力考核分数(满分15)：<input type="number" max="15" class="ability" value="{% for score in scores %}{% if score.principal_id == user.id %}{{ score.capacity_score }}{% endif %}{% endfor %}"> 态度考核分数(满分15): <input type="number" max="15" class="attitude" value="{% for score in scores %}{% if score.principal_id == user.id %}{{ score.attitude_score }}{% endif %}{% endfor %}"></p>
                <p style="font-size: 20px">备注：</p>
                <textarea class="remark" cols="150" rows="3">{% for score in scores %}{% if score.principal_id == user.id %}{{ score.remark }}{% endif %}{% endfor %}</textarea>
                <hr style="margin-bottom: 50px">
            </div>
        {% endfor %}
        <div style="text-align: center; margin-bottom: 20px">
            <button type="button" class="btn btn-info" id="score_save">提交</button>
        </div>
    {% endif %}
</body>
</html>
<!-- jQuery 2.2.3 -->
<script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script>
    $("#score_save").click(function () {
        var principal_id = [];
        var targetArr = [];
        var abilityArr = [];
        var attitudeArr = [];
        var remarkArr = [];
        $('.principal_id').each(function(){
            principal_id.push($(this).val());//添加至数组
        });
        $('.target').each(function(){
            targetArr.push($(this).val());//添加至数组
        });
        $('.ability').each(function(){
            abilityArr.push($(this).val())
        });
        $('.attitude').each(function(){
            attitudeArr.push($(this).val())
        });
        $('.remark').each(function(){
            remarkArr.push($(this).val())
        });
        $.ajax({
            url: "{% url "assess_score" %}",
            type: "post",
            traditional: true,
            data: {"principal_id": principal_id, "targetArr": targetArr, "abilityArr": abilityArr, "attitudeArr": attitudeArr, "remarkArr": remarkArr, "dep_goal_id": $("#dep_goal_id").val()},
            success: function (ret) {
                if (ret.status === "1") {
                    alert("提交成功")
                } else {
                    alert("提交失败，请稍后重试")
                }
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭
            }
        })
    })
</script>