{% extends "base-left.html" %}
{% load staticfiles %}

{% block css %}
    <style>
        .dep_style {
            color: white;
        }

        .dep_style:hover {
            color: #00451f;
        }

        .ps_style {
            color: white;
            font-size: 20px;
        }

        .ps_style:hover {
            color: #00451f;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="content-header margin-bottom">
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i>办公平台</a></li>
            <li class="active"><a href="{% url 'personal' %}">我的工作台</a></li>
            <li class="active"><a href="{% url 'personal-phonebook' %}">考核</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div id="container">
                {% for dep in department %}
                    {#                    <div class="col-lg-3 pin" style="margin-top: 5px">#}
                    {#                        <div class="box box-primary">#}
                    {#                            <div class="box-body box-profile">#}
                    {#                                                    <h3 class="profile-username text-center"><a#}
                    {#                                                            href="/personal/year_month?id={{ dep.id }}">{{ dep.title }}</a></h3>#}
                    {#                                                    {% if dep.id in ps_list %}#}
                    {#                                                        <hr>#}
                    {#                                                        <h4>岗位:#}
                    {#                                                            {% for ps in position_statement %}#}
                    {#                                                                {% if ps.department_id == dep.id %}#}
                    {#                                                                    <a href="#"#}
                    {#                                                                       onclick="doShow({{ ps.id }}, '{{ ps.name }}', '{{ ps.file }}')">{{ ps.name }}</a>#}
                    {#                                                                {% endif %}#}
                    {#                                                            {% endfor %}#}
                    {#                                                        </h4>#}
                    {#                                                    {% endif %}#}
                    {#                            </div>#}
                    {#                            <!-- /.box-body -->#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <div class="col-lg-3 col-xs-6 pin">
                        <!-- small box -->
                        <div class="small-box" style="background-image: linear-gradient(to bottom right, #71e277, #b58bed)">
                            <p class="small-box-footer"
                               style="font-weight: bolder; height: 35px; font-size: 20px; color: white">
                                <a href="/personal/year_month?id={{ dep.id }}" class="dep_style">{{ dep.title }}</a></p>
                            <div class="inner">
                                {% if dep.id in ps_list %}
                                    {% for ps in position_statement %}
                                        {% if ps.department_id == dep.id %}
                                            <a href="#"
                                               onclick="doShow({{ ps.id }}, '{{ ps.name }}', '{{ ps.file }}')"
                                               class="ps_style">{{ ps.name }}</a>
                                            &nbsp;&nbsp;&nbsp;
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {#                <div class="col-lg-12 pin">#}
                {#                    <div class="box box-primary">#}
                {#                        <div class="box-body box-profile">#}
                {#                            <h3 class="profile-username text-center"><a#}
                {#                                    href="{% url 'assess_gather' %}">汇总</a>#}
                {#                            </h3>#}
                {#                        </div>#}
                {#                        <!-- /.box-body -->#}
                {#                    </div>#}
                {#                </div>#}
                <div class="col-lg-12 col-xs-12 pin">
                    <!-- small box -->
                    <div class="small-box"
                         style="background-image: linear-gradient(to bottom right, #71e277, #b58bed)">
                        <p class="small-box-footer"
                           style="font-weight: bolder; height: 35px; font-size: 20px; color: white">
                            汇总</p>
                        <div class="inner">
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- Modal -->
    </section>

{% endblock %}
{% block javascripts %}
    <script src="{% static 'plugins/combo-select/jquery.combo.select.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    <script src="{% static 'plugins/ajaxfileupload/ajaxfile-upload.js' %}"></script>
    <script src="{% static 'plugins/fileinput/fileinput.js' %}"></script>
    <script src="{% static 'plugins/fileinput/zh.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#ASSESS').addClass('active');
            $('#ASSESS-DEP').addClass('active');

            // 瀑布流初始化
            $('#container').masonry({
                // options
                itemSelector: '.pin',
            });
        });

        function doShow(id, title, file_content) {
            var lay = layer.open({
                type: 2,
                title: title,
                shadeClose: false,
                maxmin: true,
                area: ['800px', '400px'],
                content: ["{{ MEDIA_URL }}" + file_content]
            });
            layer.full(lay)
        }

        {#设置随机渐变色#}
        {#window.onload = function random_color() {#}
        {#    var small_box = $(".small-box");#}
        {#    var len = small_box.length;#}
        {#    for (var i = 0; i < len; i++) {#}
        {#        var randum = function (max) {#}
        {#            return Math.round(Math.random() * max);#}
        {#        };#}
        {##}
        {#        var hexify = function (x) {#}
        {#            return ('0' + parseInt(x).toString(16)).slice(-2);#}
        {#        };#}
        {##}
        {#        var randex = function () {#}
        {#            return '#' + hexify(randum(10)) + hexify(randum(255)) + hexify(randum(255));#}
        {#        };#}
        {##}
        {#        var blender = function () {#}
        {#            return 'linear-gradient(to bottom right, ' + randex() + ', ' + randex() + ')';#}
        {#        };#}
        {##}
        {#        small_box[i].style.backgroundImage = blender();#}
        {#    }#}
        {#}#}
    </script>

{% endblock %}
