{% extends "base-left.html" %}
{% load staticfiles %}

{% block content %}
    <h1 style="text-align: center">{{ department.title }}</h1>
    {% if dep_goal %}
    {% for goal in dep_goal %}
        <a style="font-size: 22px" href="/personal/assess_detail?id={{ goal.department_id }}&year={{ goal.year }}&month={{ goal.month }}">{{ goal.year }}年{{ goal.month }}月</a>
    {% endfor %}
    {% else %}
        <h2 style="text-align: center">部门目前暂无目标</h2>
    {% endif %}
    <div class="col-lg-12" style="text-align: center; margin-top: 20px">
        <input class="btn btn-danger" type=button value="返回" onClick="javascript:history.go(-1);">
        {% if is_adm == '1' %}<input class="btn btn-info" type=button value="新建" onClick="create_goal({{ department.id }})">{% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/combo-select/jquery.combo.select.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    <script src="{% static 'plugins/ajaxfileupload/ajaxfile-upload.js' %}"></script>
    <script src="{% static 'plugins/fileinput/fileinput.js' %}"></script>
    <script src="{% static 'plugins/fileinput/zh.js' %}"></script>

    <script type="text/javascript">
        function create_goal(id) {
            layer.open({
                type: 2,
                title: '新建部门目标',
                shadeClose: false,
                maxmin: true,
                area: ['50%', '60%'],
                content: "{% url 'create_goal' %}?id=" + id,
                end: function () {
                    window.location.reload()
                }
            });
        }
    </script>
{% endblock %}