{% extends 'base-layer.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
    <style>
        input[type=date]::-webkit-inner-spin-button {
            visibility: hidden;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="box box-danger">
        <form class="form-horizontal" id="addForm" method="post">

            {% csrf_token %}
            <div class="box-body">
                <fieldset>
                    <legend>
                    </legend>
                    <div class="form-group has-feedback">
                        <input class="form-control" name="operator" type="hidden" value="{{ asset.operator }}"/>
                        <input class="form-control" name="id0" id="id0" type="hidden" value="{{ asset.id }}"/>
                        <div class="form-group has-feedback">
                            <label class="col-sm-2 control-label">领用用途</label>
                            <div class="col-sm-3">
                                 <input class="form-control" name="title" type="text" id="asset_title" autocomplete="off"/>
                            </div>

                            <label class="col-sm-2 control-label">预计归还日期</label>
                            <div class="col-sm-3">
                                 <input class="form-control pull-right form_datetime" name="use_time" type="text" id="use_time" autocomplete="off"/>
                            </div>
                        </div>
                        <label class="col-sm-2 control-label">资产编号</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="assetNum" type="text" value="{{ asset.number }}"
                                   disabled="1"/>
                        </div>
                        <label class="col-sm-2 control-label">仓库</label>
                        <div class="col-sm-3">
                            <select class="form-control select2" style="width:100%;" name="assetType" disabled="1">
                                <option value="{{ asset.warehouse_id }}">{{ asset.warehouse.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="brand" type="text" value="{{ asset.name }}"
                                   disabled="1"/>
                        </div>
                        <label class="col-sm-2 control-label">型号</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="model" type="text" value="{{ asset.type }}"
                                   disabled="1"/>
                        </div>


                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">领用数量</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input class="form-control" name="assetCount" type="Number" min="1" max="{{ asset.quantity }}" placeholder="还有{{ asset.quantity }} {{ asset.unit }}" id="use_count" />
                                <span class="input-group-addon">{{ asset.unit }}</span>

                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="box-footer ">
                <div class="row span7 text-center ">
                    <button type="button" id="btnCancel" class="btn btn-default margin-right ">重置</button>
                    <button type="button" id="btnSave" class="btn btn-info margin-right ">保存</button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript">

        $("#btnSave").click(function () {
            $(this).attr("disabled", "disabled");
            var useCount = $("#use_count").val();
            var title = $("#asset_title").val();
            var use_time = $("#use_time").val();
            var id0 = $("#id0").val();
            if (useCount == "") {
                layer.alert("领用数量不能为空", {icon: 5});
                return
            }
            if (Number(useCount) <= 0) {
                layer.alert("领用数量为正整数", {icon: 5});
                return
            }
            if (Number(useCount) > Number({{ asset.quantity }})) {
                layer.alert("领用数量超出库存数量({{ asset.quantity }})", {icon: 5});
                return
            }
            var data = {
                id0: id0,
                useCount: useCount,
                title: title,
                use_time: use_time,
            };
            $.ajax({
                type: "POST",
                url: "{% url 'personal-asset-use' %}",
                data: data,
                cache: false,
                success: function (msg) {
                    if (msg.status == 'success') {
                        layer.alert('已提交申请', {icon: 1}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                        });
                    } else if (msg.status == 'fail') {
                        layer.alert(msg.asset_form_errors, {icon: 5});
                    }
                    return;
                }
            });
        });

        /*点取消刷新新页面*/
        $("#btnCancel").click(function () {
            window.location.reload();

        });

        var date = new Date();
        /*input 时间输入选择*/
        $(".form_datetime").datetimepicker({
            language: 'zh',
            minView: 'month', //选择范围知道日期，不选择时分
            autoclose: 1,
            todayHighlight: 1,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd',
            startDate: date
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });


        // select2
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });
    </script>

{% endblock %}
