{% extends 'base-layer.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
    <style>
        input[type=date]::-webkit-inner-spin-button {
            visibility: hidden;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="box box-danger">
        <form class="form-horizontal" id="addForm" method="post">

            {% csrf_token %}
            <div class="box-body">
                <fieldset>
                    <legend>
                    </legend>
                    <div class="form-group has-feedback">
                        <input class="form-control" name="operator" type="hidden" value="{{ asset.operator }}"/>
                        <input class="form-control" name="id" type="hidden" value="{{ asset.id }}"/>
                        <div class="form-group has-feedback">
                            <label class="col-sm-2 control-label">领用用途</label>
                            <div class="col-sm-3">
                                 <input class="form-control" name="title" type="text" id="asset_title"/>
                            </div>

                            <label class="col-sm-2 control-label">预计归还日期</label>
                            <div class="col-sm-3">
                                 <input class="form-control" name="use_time" type="date" id="use_time"/>
                            </div>
                        </div>
                        <label class="col-sm-2 control-label">资产编号</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="assetNum" type="text" value="{{ asset.assetNum }}"
                                   disabled="1"/>
                        </div>
                        <label class="col-sm-2 control-label">仓库</label>
                        <div class="col-sm-3">
                            <select class="form-control select2" style="width:100%;" name="assetType" disabled="1">
                                <option value="{{ asset.assetType_id }}">{{ asset.assetType.name }}</option>
                                {% for type in asset_type %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="brand" type="text" value="{{ asset.brand }}"
                                   disabled="1"/>
                        </div>
                        <label class="col-sm-2 control-label">型号</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="model" type="text" value="{{ asset.model }}"
                                   disabled="1"/>
                        </div>


                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">领用数量</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input class="form-control" name="assetCount" type="Number" min="1"
                                       max="{{ asset.assetCount }}"
                                       placeholder="还有{{ asset.assetCount }} {{ asset.assetUnit }}" id="use_count"
                                />
                                <span class="input-group-addon">{{ asset.assetUnit }}</span>

                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="box-footer ">
                <div class="row span7 text-center ">
                    <button type="button" id="btnCancel" class="btn btn-default margin-right ">重置</button>
                    <button type="button" id="btnSave" class="btn btn-info margin-right ">保存</button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript">
        //限制预计归还时间
        $(function(){
            //得到当前时间
            var date_now = new Date();
            //得到当前年份
            var year = date_now.getFullYear();
            //得到当前月份
            //注：
            //  1：js中获取Date中的month时，会比当前月份少一个月，所以这里需要先加一
            //  2: 判断当前月份是否小于10，如果小于，那么就在月份的前面加一个 '0' ， 如果大于，就显示当前月份
            var month = date_now.getMonth()+1 < 10 ? "0"+(date_now.getMonth()+1) : (date_now.getMonth()+1);
            //得到当前日子（多少号）
            var date = date_now.getDate() < 10 ? "0"+date_now.getDate() : date_now.getDate();
            //设置input标签的min属性
            $("#use_time").attr("min",year+"-"+month+"-"+date);
        });

        $("#btnSave").click(function () {
            var useCount = $("#use_count").val();
            var title = $("#asset_title").val();
            var use_time = $("#use_time").val();
            if (useCount == "") {
                layer.alert("领用数量不能为空", {icon: 5});
                return
            }
            if (Number(useCount) <= 0) {
                layer.alert("领用数量为正整数", {icon: 5});
                return
            }
            if (Number(useCount) > Number({{ asset.assetCount }})) {
                layer.alert("领用数量超出库存数量({{ asset.assetCount }})", {icon: 5});
                return
            }
            var data = {
                id: {{ asset.id }},
                useCount: useCount,
                title: title,
                use_time: use_time,
            };
            $.ajax({
                type: "POST",
                url: "{% url 'personal-asset-use' %}",
                data: JSON.stringify(data),
                cache: false,
                success: function (msg) {
                    if (msg.status == 'success') {
                        layer.alert('登记成功，请及时领取物品！', {icon: 1}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                        });
                    } else if (msg.status == 'fail') {
                        layer.alert(msg.asset_form_errors, {icon: 5});
                    }
                    return;
                }
            });
        });

        /*点取消刷新新页面*/
        $("#btnCancel").click(function () {
            window.location.reload();

        })


        // select2
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });
    </script>

{% endblock %}
