{% extends "base-left.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <!-- iCheck for checkboxes and radio inputs -->
{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->

    <section class="content-header margin-bottom">
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i>办公平台</a></li>
            <li class="active"><a href="{{ menu.parent.parent.url }}">物资管理</a></li>
            <li class="active"><a href="{{ menu.url }}">档案管理</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div id="devlist">
            <div class="box box-primary" id="liebiao">
                <div class="box-body">
                    <table id="dtbList" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr valign="middle">
                            <th>序号</th>
                            <th>编号</th>
                            <th>档案名称</th>
                            <th>上传时间</th>
                            <th>保管人</th>
                            <th>位置</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <br> <br>
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.const.js' %}"></script>
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <!-- iCheck 1.0.1 -->
    <script type="text/javascript">
        $(function () {
            $('#FILE-MANAGE').addClass('active');
            $('#CATALOG').addClass('active');
        });
    </script>

    <script type="text/javascript">
        var oDataTable = null;
        $(function () {
            oDataTable = initTable();

            function initTable() {
                var num = 1;
                var oTable = $('#dtbList').DataTable($.extend(true, {},
                    DATATABLES_CONSTANT.DATA_TABLES.DEFAULT_OPTION,
                    {
                        ajax: {
                            "url": "{% url 'catalog' %}",
                            "type": "post",
                            "data": function (d) {
                            }
                        },

                        columns: [
                            {
                                data: "id",
                                render: function (data, type, row, meta) {
                                    var ret = num;
                                    num += 1;
                                    return ret;
                                }
                            },
                            {
                                data: "number",
                            },
                            {
                                data: "name",
                            },
                            {
                                data: "upload_time",
                                render: function (data, type, full, meta) {
                                    return moment(data).format("YYYY-MM-DD HH:mm");
                                }
                            },
                            {
                                data: "preserver__name",
                            },
                            {
                                data: "type__name",
                                render: function (data, type, row, meta) {
                                    var ret = data;
                                    if (ret == "" || ret == null) {
                                        ret = "档案列表"
                                    }
                                    return ret
                                }
                            }],
                    }));
                return oTable;
            }
        });

        //刷新页面GET查询请求
        $("#btnAssetSearch").click(function () {
            oDataTable.ajax.reload();
        });
    </script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });
    </script>
{% endblock %}