{% extends "base-left.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <!-- iCheck for checkboxes and radio inputs -->
{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->

    <section class="content-header margin-bottom">
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i>办公平台</a></li>
            <li class="active"><a href="{{ menu.parent.parent.url }}">物资管理</a></li>
            <li class="active"><a href="{{ menu.url }}">档案管理</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div id="devlist">
            <div class="box box-primary" id="liebiao">
                <div class="box-header">
                    <div class="btn-group pull-left">
                        <button type="button" id="btnUpload" class="btn btn-primary">
                            <i class="fa fa-arrow-up"></i>上传
                        </button>
                    </div>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default" onclick="BulletinType()">
                            <i class="	glyphicon glyphicon-user"></i>类型设置
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="dtbList" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr valign="middle">
                            <th>序号</th>
                            <th>编号</th>
                            <th>档案名称</th>
                            <th>上传时间</th>
                            <th>保管人</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <br> <br>
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.const.js' %}"></script>
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <!-- iCheck 1.0.1 -->
    <script type="text/javascript">
        $(function () {
            $('#FILE-MANAGE').addClass('active');
            $('#FILE-LIST{{ type0 }}').addClass('active');
        });
    </script>

    <script type="text/javascript">
        var oDataTable = null;
        $(function () {
            oDataTable = initTable();

            function initTable() {
                var num = 1;
                var oTable = $('#dtbList').DataTable($.extend(true, {},
                    DATATABLES_CONSTANT.DATA_TABLES.DEFAULT_OPTION,
                    {
                        ajax: {
                            "url": "{% url 'file_list' %}",
                            "type": "post",
                            "data": function (d) {
                                d.type0 = "{{ type0 }}";
                            }
                        },

                        columns: [
                            {
                                data: "id",
                                render: function (data, type, row, meta) {
                                    var ret = num;
                                    num += 1;
                                    return ret;
                                }
                            },
                            {
                                data: "number",
                            },
                            {
                                data: "name",
                            },
                            {
                                data: "upload_time",
                                render: function (data, type, full, meta) {
                                    return moment(data).format("YYYY-MM-DD HH:mm");
                                }
                            },
                            {
                                data: "preserver__name",
                            },
                            {
                                data: "content",
                                render: function (data, type, row, meta) {
                                    let id0 = row.id;
                                    let ret = "<button title='查看' onclick='doShow(" + "\""
                                        + row.name + "\",\"" + data +
                                        "\")'><i class='fa fa-eye'></i></button>";
                                    ret = ret + "<button title='编辑' onclick='doRename(" + "\""
                                        + row.id +
                                        "\")'><i class='fa fa-wrench'></i></button>";
                                    ret = ret + "<button title='删除' onclick='doDelete(" + "\""
                                        + row.id +
                                        "\")'><i class='fa fa-close'></i></button>";
                                    return ret
                                }
                            }],
                    }));
                return oTable;
            }
        });

        //刷新页面GET查询请求
        $("#btnAssetSearch").click(function () {
            oDataTable.ajax.reload();
        });


        //select选择后刷新页面GET请求
        $("#select").change(function () {
            //alert($("#select").val())
            oDataTable.ajax.reload();
        });


        $("#btnUpload").click(function () {
            layer.open({
                type: 2,
                title: '文件上传',
                shadeClose: false,
                maxmin: true,
                area: ['800px', '350px'],
                content: "{% url 'file_upload' %}?type=" + {{ type1 }},
                end: function () {
                    //关闭时做的事情
                    window.location.reload();
                }
            });
        });

        function doShow(name, file_content) {

            var lay = layer.open({
                type: 2,
                title: name,
                shadeClose: false,
                maxmin: true,
                area: ['800px', '400px'],
                content: ["{{ MEDIA_URL }}" + file_content],
                end: function () {
                    oDataTable.ajax.reload();
                }
            });
            layer.full(lay)
        }

        function doRename(id) {
            layer.open({
                type: 2,
                title: '档案编辑',
                shadeClose: false,
                maxmin: true,
                area: ['800px', '550px'],
                content: ["{% url 'file_rename' %}" + '?id=' + id, 'no'],
                end: function () {
                    window.location.reload()
                }
            });
        }

        //删除单个数据
        function doDelete(id) {
            layer.alert('确定删除吗？', {
                title: '提示'
                , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                , time: 0 //不自动关闭
                , btn: ['YES', 'NO']
                , yes: function (index) {
                    layer.close(index);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'file_delete' %}",
                        data: {"id": id},
                        cache: false,
                        success: function (msg) {
                            if (msg.result) {
                                layer.alert('删除成功', {icon: 1});
                                window.location.reload()
                            } else {
                                //alert(msg.message);
                                layer.alert('删除失败', {icon: 2});
                            }
                        }
                    });
                }
            });

        }


        function BulletinType() {
            layer.open({
                type: 2,
                title: '设置类型',
                shadeClose: false,
                maxmin: true,
                area: ['800px', '600px'],
                content: ["{% url 'file_type_set' %}"],
                end: function () {
                    window.location.reload();
                }
            });
        }
    </script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });
    </script>
{% endblock %}