{% extends "base-layer.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
{% endblock %}
<div class="content-wrapper">


    {% block main %}

        <!-- Content Header (Page header) -->

        <!-- Main content -->

        <section class="content">
            <div class="row" {% if ban %}hidden{% endif %}>
                <!-- /.col -->
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">申请详情</h3>
                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">

                            <textarea class="form-control" name="cost" id="desc" type="textarea" disabled="disabled"
                                      style="margin: 0px 10px 0px 0px; height: 200px; resize:vertical;">{{ work_order.title|safe }}</textarea>
                            <br>
                            {% if work_order.file_content %}
                                <td>
                                    <button type="button" class="btn-sm btn-success" onclick="openFile()">查看附件</button>
                                </td>
                            {% endif %}
                        </div>
                        <div class="box-body no-padding">
                            <div class="table-responsive mailbox-messages">
                                <table class="table" id="tbWorkList" style="table-layout: fixed;">
                                    <tbody>
                                    <tr>
                                        <td style="width:15%;"><strong> 工单号</strong></td>
                                        <td>{{ work_order.number }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong> 费用类型</strong></td>
                                        <td>{{ work_order.feeid.fee_type }}</td>

                                    </tr>
                                    <tr>
                                        <td><strong> 申请类型</strong></td>
                                        <td>{{ work_order.get_type_display }}</td>

                                    </tr>
                                    <tr>
                                        <td><strong> 审批状态</strong></td>
                                        <td>{{ work_order.get_status_display }}</td>

                                    </tr>
                                    <tr>
                                        <td><strong> 申请人</strong></td>
                                        <td>{{ work_order.cretor.name }}</td>

                                    </tr>
                                    <tr>
                                        <td><strong> 申请时间</strong></td>
                                        <td>{{ work_order.create_time }}</td>

                                    </tr>
                                    <tr>
                                        <td><strong> 所在部门</strong></td>
                                        <td>{{ work_order.structure.title }}</td>

                                    </tr>
                                    {% if work_order.status == '1' %}
                                        <tr>
                                            <td><strong> 当前审批人:</strong></td>
                                            <td>{{ work_order.next_user.name }}</td>

                                        </tr>
                                    {% endif %}
                                    {% if work_order.type == '0' or work_order.advance == '1' %}
                                        <tr>
                                            <td><strong> 金额</strong></td>
                                            <td>{{ work_order.cost }}元</td>

                                        </tr>
                                        {% if work_order.advance == '1' %}
                                            <tr>
                                                <td><strong> 预付款</strong></td>
                                                <td>{{ work_order.cost }}元</td>

                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td><strong> 发票类型</strong></td>
                                            <td>{{ work_order.get_invoice_type_display }}</td>

                                        </tr>
                                        <tr>
                                            <td><strong> 收款方</strong></td>
                                            <td>{{ work_order.payee }}</td>

                                        </tr>

                                        <tr>
                                            <td><strong> 银行账户:</strong></td>
                                            <td>{{ work_order.bank_account }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong> 开户行:</strong></td>
                                            <td>{{ work_order.bank_info }}</td>
                                        </tr>
                                        <!--这里可以加是否预支  advance-->
                                    {% endif %}
                                    {% if work_order.type == '1' %}
                                        <tr>
                                            <td><strong> 预计费用</strong></td>
                                            <td>{{ work_order.cost }}元</td>

                                        </tr>
                                        <tr>
                                            <td><strong> 随行人员</strong></td>
                                            <td>{% if people %}{% for i in people %} {{ i.name }};{% endfor %}{% else %}
                                                无{% endif %}</td>

                                        </tr>
                                        <tr>
                                            <td><strong> 交通工具</strong></td>
                                            <td>{{ work_order.get_transport_display }}</td>

                                        </tr>

                                        <tr>
                                            <td><strong> 路线行程:</strong></td>
                                            <td>
                                                <span style="color:green">{{ work_order.becity }}</span>
                                                -->
                                                <span style="color:firebrick">{{ work_order.destination }}</span></td>
                                        </tr>
                                        <tr>
                                            <td><strong> 出差时间</strong></td>
                                            <td>
                                                <span style="color:green">{{ work_order.start_time }}</span>
                                                -->
                                                <span style="color:firebrick">{{ work_order.end_time }}</span></td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            {#                            <div class="box-footer ">#}
                            {#                            </div>#}
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">{% if cashier == '0' %}审批意见{% else %}完成付款{% endif %}</h3>
                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body no-padding">

                            <textarea class="form-control" name="cost" id="desc0" type="textarea"
                                      style="margin: 0px 3px 0px 0px; height: 210px;resize: vertical">{% if cashier == '1' %}预付款成功{% endif %}</textarea>
                            <br>

                            {#                            无需报销提示#}
                            {% if is_apply_only %}
                                <div>
                                    <span style="color: red">当前申请预付款完成后结束，无报销流程</span><br>
                                </div>
                                <br>
                            {% endif %}
                            {% if copy_to == "1" %}
                                <div>
                                    <label for="copy_to" style="font-size: 18px">抄送至:</label>
                                    <select name="copy_to" id="copy_to" class="form-control">
                                        <option value="">无</option>
                                        {% for department in departments %}
                                            <option value="{{ department.id }}">{{ department.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                            <br>
                            <div class="text-center">
                                {% if cashier == '0' %}
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            onclick="updateOpin('disagree')">不同意
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            onclick="updateOpin('disagree_c')">取消预付款
                                    </button>
                                {% endif %}
                                <button type="button" class="btn btn-danger" onclick="updateOpin('agree')">
                                    {% if cashier == '1' %}完成预付款{% else %}同意{% endif %}
                                </button>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /. box -->
                </div>
                <div class="col-md-4">
                    <!-- /. end worklist_details box -->
                    <div class="box">
                        <div class="box-header with-border">
                            <i class="fa fa-commenting"></i>
                            <h3 class="box-title">审批记录</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <ul class="products-list product-list-in-box">
                                <!-- /.item -->
                                <li class="item">
                                    <div>
                                        <small>{{ work_order.create_time }}</small>
                                        <span class="text-green">{{ work_order.structure.title }}</span>
                                        <a href="javascript:void(0)" class="product-title">
                                            {{ work_order.cretor.name }}
                                        </a>
                                        <span class="text-orange"><small>创建</small></span>


                                    </div>
                                </li>
                                {% for wlog in work_order_log %}
                                    <li class="item">
                                        <div>

                                            <small>{{ wlog.create_time }}</small>
                                            <span class="text-green">{{ wlog.structure.title }}</span>
                                            <a href="javascript:void(0)" class="product-title">
                                                {{ wlog.creator.name }}
                                            </a>
                                            <span class="text-orange">审批</span>
                                            <span>{{ wlog.get_record_type_display }}</span>

                                            <span class="text-muted margin-top-5">
                                            详情：{{ wlog.desc }}
                                        </span>


                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>

                    <div>
                        <table>
                            <thead>
                            <tr>
                                <th colspan="4" style="width:500px; font-size: 18px">申请人最近10条其他申请记录</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="text-align: center; font-weight: bolder">费用类型</td>
                                <td style="text-align: center; font-weight: bolder">金额</td>
                                <td style="text-align: center; font-weight: bolder">申请时间</td>
                            </tr>
                            {% for user_order in user_orders %}
                                <tr>
                                    <td><a onclick="showDetail({{ user_order.id }})">
                                        {% if user_order.feeid.fee_type %}{{ user_order.feeid.fee_type }}{% else %}
                                            {{ user_order.title }}{% endif %}</a></td>
                                    <td>{{ user_order.cost }}</td>
                                    <td style="text-align: center">{{ user_order.create_time }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                    <!-- /. message box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.col -->


            <!-- /.row -->
        </section>

        <!-- /.content -->

    {% endblock %}
</div>
{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.const.js' %}"></script>
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    <script type="text/javascript">
        function updateOpin(opinion) {
            var desc0 = $('#desc0').val();
            var data = {
                'opinion': opinion,
                'id': '{{ work_order.id }}',
                'desc0': desc0,
                'type': '{{ work_order.type }}',
                'structure': '{{ work_order.structure.id }}',
                'copy_to': $('#copy_to').val()
            };
            if (opinion == 'disagree' && desc0 == '') {
                layer.alert('不同意，请写下审批意见', {icon: 5});
                return
            }
            $.ajax({
                type: 'POST',
                url: ["{% url 'personal-workorder-app-update' %}"],
                data: JSON.stringify(data),
                contentType: "application/json; charset=UTF-8",
                cache: false,
                beforeSend: function () {
                    this.layerIndex = layer.load(1, {
                        shade: [0.1, '#fff'] //0.1透明度的白色背景
                    });
                },
                success: function (msg) {
                    layer.closeAll('loading');
                    if (msg.status == 'success') {
                        layer.alert('审批提交成功！', {icon: 1}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                        });
                    } else {
                        layer.alert(msg.error, {icon: 5});
                    }
                }
            });
        }

        function doWorkorderSend(id) {
            layer.open({
                type: 2,
                title: '工单派发',
                shadeClose: false,
                maxmin: true,
                area: ['770px', '500px'],
                {#content : [ "{% url 'personal-workorder-send' %}"+'?id='+id],#}
                end: function () {
                    window.location.reload();

                }
            });
        }

        function openFile() {
            layer.open({
                type: 2,
                title: "{{ work_order.number }}",
                shadeClose: false,
                maxmin: true,
                area: ['640px', '480px'],
                content: ["{{ MEDIA_URL }}{{ work_order.file_content }}"],
                end: function () {
                }
            });
        }

        function showDetail(id) {
            layer.open({
                type: 2,
                title: "详情",
                shadeClose: true,
                maxmin: true,
                area: ['640px', '580px'],
                fixed: false,
                content: ["{% url 'personal-workorder-app-other-detail' %}" + '?id=' + id],

            })
        }
    </script>

{% endblock %}
