{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>意见或建议反馈</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="box box-danger">
        <form class="form-horizontal" id="addForm" method="post">
            <input type="text" name='advise_id' value="{{ advice.id }}" id="advise_id" hidden/>
            <div class="col-sm-12">
                <textarea class="form-control" name="title" id="advise" style="height:150px;width: 100%">{{ advice.back }}</textarea>
            </div>
            <div class="box-footer ">
                <div style="text-align: center">
                    <button type="button" id="btnSave" class="btn btn-primary" onclick="Save()" style="margin-top: 1%">提交</button>
                </div>
            </div>
        </form>
    </div>
</body>
<script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'plugins/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'plugins/fileinput/fileinput.js' %}"></script>
<script src="{% static 'plugins/fileinput/zh.js' %}"></script>
<script src="{% static 'js/vue-2.6.10.js' %}"></script>
<script>
    function Save() {
        var advise = $("#advise").val();
        var advise_id = $("#advise_id").val();
        if (advise == '') {
            alert('请输入反馈内容！');
        } else if (advise.length>1000) {
            alert('内容过长，请删减内容')
        }
        else {
            var data = {
                advise: advise,
                advise_id: advise_id
            };
            var url = "{% url 'feedback_create' %}";
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function (ret) {
                    alert('提交成功');
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                }
            });
        }

    }
</script>
</html>