{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>意见或建议反馈</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="box box-danger">
        <form class="form-horizontal" id="addForm" method="post">
            <input type="hidden" name='order' value="{{ work_order.id }}" id="orderId"/>
            <div class="col-sm-8">
                <textarea class="form-control" name="title" id="advise" style="height:150px;width: 600px; margin-left: 12px"></textarea>
            </div>
            <div class="box-footer ">
                <div style="position: absolute; right: 25px; margin-top: 10px">
                    <button type="button" id="btnSave" class="btn btn-primary" onclick="Save()">保存</button>
                </div>
            </div>
        </form>
    </div>
</body>
<script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'plugins/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'plugins/fileinput/fileinput.js' %}"></script>
<script src="{% static 'plugins/fileinput/zh.js' %}"></script>
<script src="{% static 'js/vue-2.6.10.js' %}"></script>
<script>
    function Save() {
        var advise = $("#advise").val();
        if (advise == '') {
            alert('请输入反馈内容！');
        } else if (advise.length>300) {
            alert('建议内容过长，请删减内容')
        }
        else {
            retData = {
                advise: advise,
            };
            var data = retData;
            if (data === false) {
                return
            }
            var url = "/direction/";
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json; charset=UTF-8",
                success: function (data) {
                    alert('提交成功');
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                }
            });
        }

    }
</script>
</html>