{% extends 'base-layer.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/dist/css/myself.css">
    <!-- iCheck for checkboxes and radio inputs -->
{% endblock %}
{% block main %}
    <div class="box box-danger">
        <form class="form-horizontal" id="addForm" method="post">
            {% csrf_token %}
            <div class="box-body">
                <fieldset>
                    <div class="form-group has-feedback">

                        <label class="col-sm-2 control-label">工作内容</label>
                        <div class="col-sm-10">
                            <textarea name="content" id="content" cols="73" rows="3"
                                      maxlength="500" style=""></textarea>
                        </div>
                        <label class="col-sm-2 control-label">实施阶段</label>
                        <div class="col-sm-2">
                            <select name="stage" id="stage" class="form-control inputText select2">
                                <option value="0"></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>

                        <label class="col-sm-2 control-label">选择实施阶段后点击生成</label>
                        <div class="col-sm-4">
                            <button type="button" id="btnGenerate" class="btn btn-info margin-right ">生成</button>
                        </div>
                    </div>


                    {#                        <label class="col-sm-2 control-label">未完成<br>(终止)原因</label>#}
                    {#                        <div class="col-sm-10">#}
                    {#                            <textarea name="reason" id="reason" cols="73" rows="2"#}
                    {#                                      maxlength="50" ></textarea>#}
                    {#                        </div>#}
                    <hr style="border-bottom:3px solid #F00"/>
                    <span id="generatediv"></span>
                </fieldset>
            </div>
            <div class="box-footer ">
                <div class="row span7 text-center ">
                    {#                    <button type="button" id="btnCancel" class="btn btn-default margin-right ">重置</button>#}
                    <button type="button" id="btnSave" class="btn btn-info margin-right ">保存</button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript">
        var gen_btn = "0";
        {# 自动生成区域 #}
        $("#btnGenerate").click(function () {
            var create = $("#stage").val();    // 定义一个数字，用于指定要生成多少个DIV
            if (create == "0") {
                alert("请先选择实施阶段");
                return false
            }
            $(this).attr("disabled", "disabled");
            $("#stage").attr("disabled", "disabled");
            gen_btn = "1";
            {#alert($("#stage").val())#}
            {#var idStr = "";   // 这里是生成之后的所有 div 的  id 字符串#}
            {#var idList = new Array();    // 这里是生成之后，所有 div 的 id 数组#}
            for (var i = 1; i <= create; i++) {
                {#var id = "div" + i;#}
                var div = $('<div style="border-bottom:3px solid #F00"><div class="form-group has-feedback"><br/>' +
                    '<label class="col-sm-2 control-label">工作计划：</label>' +
                    '   <div class="col-sm-10">\n' +
                    '<textarea name="workplan' + i + '" id="workplan' + i + '" cols="73" rows="3"\n' + 'maxlength="500"></textarea>\n' +
                    '</div> </div>' +
                    '<div class="form-group has-feedback">' +
                    '<label class="col-sm-2 control-label">开始时间：</label>\n' +
                    '<div class="col-sm-3">\n' +
                    '                        <input class="form-control timepick" name="start_time' + i + '" id="start_time' + i + '" type="text" autocomplete="off"\n' +
                    '                               />\n' +
                    '                    </div>\n' +
                    '                    <label class="col-sm-2 control-label">结束时间：</label>\n' +
                    '                    <div class="col-sm-3">\n' +
                    '                        <input class="form-control timepick" name="end_time' + i + '" id="end_time' + i + '" type="text" autocomplete="off"\n' +
                    '                               />\n' +
                    '                    </div> </div>' +
                    '<div class="form-group has-feedback">' +
                    '<label class="col-sm-2 control-label">责任人：</label>' +
                    '<div class="col-sm-3">' +
                    '<select name="dutyman' + i + '" id="dutyman' + i + '" class="form-control inputText select2">' +
                    '<option value=""></option>' +
                    '{% for foo in dutyman %}\n'+
                        '<option value="{{ foo.id }}">{{ foo.name }}</option>\n'+
                        '{% endfor %}' +
                    '</select></div>' +
                    '                        <label class="col-sm-2 control-label">部门</label>\n' +
                    '                        <div class="col-sm-3">\n' +
                    '                            <select name="department' + i + '" id="department' + i + '"class="form-control inputText select2">\n' +
                    '                                <option value=""></option>\n' +
                    '                                {% for foo in department %}\n'+
                        '                                    <option value="{{ foo.id }}">{{ foo.title }}</option>\n'+
                        '                                {% endfor %}\n' + '</select>\n' +
                    '</div><br/><br/>' +
                    '<label class="col-sm-2 control-label">是否完成：</label>' +
                    '<div class="col-sm-2">' +
                    '<select name="is_done' + i + '" id="is_done' + i + '" class="form-control inputText select2">' +
                    '<option value="0">否</option>' +
                    '<option value="1">是</option>' +
                    '</select></div></div>' +
                    '<div class="form-group has-feedback">' +
                    '<label class="col-sm-2 control-label">完成情况：</label>' +
                    '<div class="col-sm-10"> <textarea name="complete' + i + '" id="complete' + i + '" cols="73" rows="3"\n' + 'maxlength="60"></textarea></div> <br>' +
                    '<label class="col-sm-2 control-label" >备注：</label>' +
                    '<div class="col-sm-10" >' +
                    '<textarea name="remark' + i + '" id="remark' + i + '" cols="73" rows="3" maxlength="60"></textarea>' +
                    '</div></div></div>');
                $("#generatediv").append(div);// body 拼接一个 div
                {#idStr += id + " ";    // 拼接 id 字符串#}
                {#idList.push(id);      // 把 id 放到数组里面#}
            }
            $(".timepick").datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh',
                autoclose: 1,
                forceParse: 0,
                minView: 2,
            });
            //Initialize Select2 Elements
            $(".select2").select2();
        });


        $(".timepick").datetimepicker({
            format: 'yyyy-mm-dd',
            language: 'zh',
            autoclose: 1,
            forceParse: 0,
            minView: 2,
        });

        $(".form_datetime").datetimepicker({
            format: 'yyyy-mm-dd',
            language: 'zh',
            autoclose: 1,
            forceParse: 0,
            minView: 2,
        });

        $("#btnSave").click(function () {
            if ($("#content").val() == "") {
                alert("请填写工作内容")
            } else if ($("#stage").val() == "0") {
                alert("请选择实施阶段后点击生成")
            } else if (gen_btn == "0") {
                alert("请点击生成按钮")
            } else {
                for (let i = 1; i < parseInt($("#stage").val()) + 1; i++) {
                    if ($("#workplan" + i).val() == "") {
                        alert("请填写工作计划");
                        return false
                    } else if ($("#start_time" + i).val() == "") {
                        alert("请选择开始时间");
                        return false
                    } else if ($("#end_time" + i).val() == "") {
                        alert("请选择结束时间");
                        return false
                    } else if ($("#dutyman" + i).val() == "") {
                        alert("请选择责任人");
                        return false
                    } else if ($("#department" + i).val() == "") {
                        alert("请选择部门");
                        return false
                    }
                }
                var data = $("#addForm").serialize();
                $.ajax({
                    type: $("#addForm").attr('method'),
                    url: "{% url 'worklog_create' %}",
                    data: data,
                    cache: false,
                    success: function (msg) {
                        if (msg.result == "1") {
                            layer.alert('数据保存成功！', {icon: 1}, function (index) {
                                parent.layer.closeAll(); //关闭所有弹窗
                            });
                        } else if (msg.result == "2") {
                            layer.alert('你不是填写人员', {icon: 5});
                            //$('errorMessage').html(msg.message)
                        } else {
                            layer.alert(msg.result, {icon: 5});
                        }
                    },
                });
            }
        });


        /*点取消刷新新页面*/
        $("#btnCancel").click(function () {
            window.location.reload();

        });

        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });

    </script>

{% endblock %}
